/* regole generali */

.container::after{
 content:"";
 display: table;
 clear: both;
}

[class*="col-"]{
  float: left;
}
/* navbar */
.docs{
  float: right;
  margin-top: 10px;
  margin: 15px;
}

.docs a{
  margin: 10px;
  color: grey;
}

.webinar{
  float: left;
  margin-top: 10px;
}

.carlo{
  background-color: white;
}

.marco{
  background-color: white;
  border-top: 1px solid grey;
}
.webinar a{
  color: grey;
}

.digital img{
  width: 150px;;
}

.digital{
float: left;
}

.digital a{
  color: black;
  margin: 10px;
}

.sign{
  float: right;
  margin-top: 30px;
}

/* prima */



.prima{
  margin-top: 120px;
  background-image:url(img/ocean.jpg);
  padding:50px;
}

.rima h1,p{
  color:white;
}

.rima p{
  font-size: 23px;
  opacity: .8;
}

.rima h1{
  font-size: 62px;
  font-weight: 400;
}

.panel{
  margin-right: 30px;
}

.nera{
  margin-top: 50px;
}

.bianco{
  background-color: white;
}

/* parte seconda */

.seconda h4{
  text-align: center;
  margin-bottom: 30px;
}

.seconda a{
  margin-left: 45%;
  color:blue;
}
.pino img{
  margin: 10px;
}

.seconda{
  background-color: #f3f5f9;
  padding: 10px;
}

.rambo{
  margin-top: 50px;
}


/* terza */

.terza h1,h3{
  text-align: center;
  margin-top: 90px;
}

.scale{
  border-left:1px solid black;
  margin-left: 40px;
  list-style-type: none;
  margin-top: 70px;
  font-size: 16px;
}

.scale li{
  margin: 15px;
}

.terza p{
  color: black;
}

.team{
  margin-top: 40px;
}

.claudio{
  margin-top: 35px;
}

.maria{
  margin-top: 35px;
}

.terza{
  margin-bottom: 80px;
}

.croci{
  margin-top: 40px;
}


.mondo{
  margin-top: 50px;
}
/* quarta */

.quarta{
  background-color: #f3f5f9;
  padding: 80px;
}

.quarta h1,h3{
  text-align: center;
  margin-top: 80px;
}

.quarta h1{
  color:#121419;
  font-weight: 400;
}

.quarta h3{
  color:rgba(3,27,78,.7);
}

.quarta img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
}

.quarta p{
  color: black;
  text-align: center;
  margin-top: 30px;
}

/* quinta */

.quinta{
  margin-bottom: 100px;
}

.quinta h1{
  text-align: center;
  color:black;
  margin-top: 90px;
  margin-bottom: 90px;
}

.quinta p{
  color: black;
  margin-left: 60px;
}

.securuty{
  margin-left: 60px;
}

.price1{
  margin-left: 60px;
}

.supporti{
  margin-left: 60px;
}

.compli{
  margin-left: 60px;
}

.icona1{
  margin-left: 60px;
}

/* sesta */
.sesta{
  background: #031B4E url(https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg);
  padding: 100px;
}

.sesta h1{
  text-align: center;
  color: white;
}

.table{
color:white;
}

.tabelle{
  margin-top: 80px;
}

/* settima */

/* ottava */

.ottava{
  background-image:url(img/ocean.jpg);
  padding: 50px;
}

.ottava h2{
  text-align: center;
  color: white;
}

.ottava button{
  margin-left: 530px;
  color: blue;
}
/* footer */

footer{
  background-color: #010e28;
}


footer ul{
  list-style-type: none;
  margin-top: 50px;
}


footer a{
  color:white;
  opacity: .8;
}


footer li{
  margin: 10px;

}

.ultimiss{
  border-bottom: 1px solid white;
  padding: 80px;
}

.partesotto{
  font-size: 20px;
  color: white;
}


/* nona */
.nona{
  padding: 30px;
  background-color: #010e28;
}

.nona img{
  width: 100px;
  float: left;
}

.nona p{
  color:white;
  float: left;
  margin-top: 80px;
  margin-left: 8px;
}

footer i{
  float: right;
  width: 100px;
}
